/* p {
    color: brown;
}
.para1, .para2 , .para3{
    background-color: red;
}
#header1 {
    color: yellow;
}
p.para2{
    color: chartreuse;
} */

.para1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 700;
    font-style: italic;
}
.para2{
    line-height: 30px;
    letter-spacing: 10px;
    word-spacing: 10px;
}
.para3{
    text-decoration: line-through;
    text-transform: uppercase;
    text-align: center;
}

ul {
    list-style-image: url(list.png);
    list-style-position: inside;
}
ol {
    list-style: lower-latin;
}
body{
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    width: 50%;
    margin: auto;
}
